@font-face {
    font-family: BoB;
    src: url(../assets/BoB.ttf)
}

body {
    font-family: 'Anonymous Pro', monospace;
}

#page-header h1 {
    color: white;
    font-family: BoB;
    font-size: 1.5rem;
}

@media only screen and (min-width: 576px) {
    #page-header h1 {
        padding-top: 4rem;
        text-align: right;
        font-size: 2rem;
    }
}

@media only screen and (min-width: 768px) {
    #page-header h1 {
        text-align: center;
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 992px) {
    #page-header h1 {
        text-align: left;
        font-size: 3rem;
    }
}

#logo {
    width: 90px;
    height: auto;
}

@media only screen and (min-width: 576px) {
    #logo {
        margin-left: -2.5rem;
        width: auto;
    }
}

.row {
    margin: 10px 0px;
}

.verseFragment, .verseScore {
    flex-direction: column;
}